  #wrapper {
  margin: 0 auto;
  background-color: #fff;
  max-width: 360px;
  border: solid 2px red;
}
.search {
  border-top: solid 1px #c8d1d3;
  border-bottom: solid 1px #c8d1d3;
  display: flex;
  justify-content: space-around;
  padding: 10px;
 
  .search__bar {
    background-color: #f0f3f4;
    border: none;
    border-radius: 2px;
    height: 35px;
    width: 100%;
  }
}
.news {
  display: flex;
  flex-direction: column;
}
 
.news__category__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 50px;
  margin: 5% 0 95% 0;
}
 
.news__category__items {
  list-style: none;
  margin: 5px 0px;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  border-top: solid 1px #c8d1d3;
  border-bottom: solid 1px #c8d1d3;
}
 
.news__category__items__thumbnail {
  width: 80px;
  height: 80px;
}
 
.news__category__links__container {
  display: grid;
  padding: 5px;
}
 
.news__category__links {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
 
.news__category__links__text {
  font-weight: 100;
}
 
.news__category__links__archive {
  background-color: #87bcbf;
  display: block;
  width: 80px;
  height: 80px;
  position: relative;
  left: 0%;
  opacity: 0.33;
}
.news__category__links__archive img {
  width: 100%;
  height: 100%;
}
.header {
  display: flex; // display the element with display flex
  justify-content: space-between; //space between the elements inside header
  padding: 5% 10%; //padding top and bottom 0px padding left and right 10px
 
  .header__archive,
  .header__settings {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
 
img {
  display: block;
}
 