.search {
    border-top: solid 1px #c8d1d3;
    border-bottom: solid 1px #c8d1d3;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
    .search__bar {
      background-color: #f0f3f4;
      border: none;
      border-radius: 2px;
      height: 35px;
      width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 5% 10%;
      
        .header__archive,
        .header__settings {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      