body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  

  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .space__around {
    margin-top: 150px;
  }
  
  h1,
  h2 {
    text-align: center;
    color: #333;
  }
  
  .toggle__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .toggle__label { 
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .toggle__switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .toggle__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .toggle__slider {
    background-color: #2196f3;
  }
  
  input:focus + .toggle__slider {
    box-shadow: 0 0 1px rgb(33, 201, 243);
  }
  
  input:checked + .toggle__slider:before {
    transform: translateX(26px);
  }
  
  .dark__mode__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  
  .dark__mode__button {
    padding: 8px 16px;
    font-size: 18px;
    background-color: transparent;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .fake__version {
    text-align: center;
    margin-top: 20px;
    color: #888;
  }
  